.img-b{
    position: absolute;
    top: 0;
    display: none
}
.big-pic{
    position: relative;
}
.container{
    width: 1000px;
    height: 1000px;
}
.active{
    display: block
}
.left{
    position: absolute;
    left: 20px;
    top: 150px;
    font-size: 35px;
    color: red;
    cursor: pointer;
    z-index: 66;
}
.right{
    position: absolute;
    right: 20px;
    top: 150px;
    font-size: 35px;
    color: red;
    cursor: pointer;
    z-index: 66;

}